/*reset*/
ul,li,p,h1,h2,h3,h4,h5,body{margin:0px;padding:0px;}
ul,li,dl,dd,dt{list-style: none;}
body{font-size:12px;}
a{text-decoration: none;color:#252525;}
a:hover,.fot a:hover{color: #ee2d24;}
a img{border:none 0;}
/*banner*/
.banner_index{height:330px;position: relative;overflow:hidden;width: 360px;margin:0 0 0px 0;}
.banner_index .btn,.banner_pro .bBtn{position: absolute;top:130px;width: 56px;height: 78px;display: block;z-index: 3;}
.banner_index .btnPre,.banner_pro .bPre{background: url(/skin/web/images/bg_btnPre_index.png) no-repeat 0 0;left:20px;}
.banner_index .btnPre:hover,.banner_pro .bPre:hover{background: url(/skin/web/images/bg_btnPre_index_hover.png) no-repeat 0 0;}
.banner_index .btnNext,.banner_pro .bNext{background: url(/skin/web/images/bg_btnNext_index.png) no-repeat 0 0;right: 20px;}
.banner_index .btnNext:hover,.banner_pro .bNext:hover{background: url(/skin/web/images/bg_btnNext_index_hover.png) no-repeat 0 0;}
.banner_index .banner_wrap{position: absolute;left:0px;top: 0px; z-index: 2;}
.banner_index .banner_wrap li{width: 360px;float: left;}
.banner_index .banner_wrap li img{ max-width:100%;max-height:100%;width: auto;height: auto;width:expression(this.width > 360 ? "360px" : this.width);overflow:hidden;}
.indexBanner_num{width:360px;margin: 0 auto;padding:10px 0;text-align: center;}
.indexBanner_num a{width: 8px;height: 8px;display: inline-block;_zoom:1;background: url(/skin/web/images/bg_num.png) no-repeat 0 0;font-size: 0px;line-height: 0px;margin:0 1px;}
.indexBanner_num a.on,.indexBanner_num a:hover{background: url(/skin/web/images/bg_num_on.png) no-repeat 0 0;}no-repeat 0 0;}}